<div class="card">
  <div class="image-container">
    <img src=<%= user.photo %> alt="Profile picture of <%= user.name%>" />
  </div>
  <div class="card-info">
    <h2> <%= user.name %> </h2>
    <p class="placeholder">Number of Posts: <%= user.posts_counter%> </p>
  </div>   
</div>
