<div class="flex items-center justify-between w-full h-fit p-2 border-b-2 border-solid border-gray-400 comment">
  <p class="text-2xl"> <strong><%= comment.author.name%>:</strong> <%= comment.text%><p>
  <% if can? :destroy, comment %>
    <%= link_to 'Delete', user_post_comment_path(user_id: current_user.id, post_id: comment.post.id, id: comment.id), method: :delete, class: "block py-1 px-5 bg-red-800 hover:bg-red-700 text-white text-xl" %>      
  <% end%>
</div>
