<ul class="flex flex-col w-full gap-8">
  <% @users.each do |user| %>
  <li class="w-full">
    <%= link_to user_path(id: user.id), class: "w-full" do %>
      <%= render 'partials/card', user: user%>
    <% end %>
  </li>
  <% end %>
</ul> 
