<div class="user">
  <%= render 'partials/card', user: @user %> 
  <div class="card-info bio">
    <h2> Biography </h2>
    <p> <%= @user.bio %> </p>
  </div>
  <ul class="cards">
    <% @user.recent_posts.each do |post| %>
      <li>
        <%= render 'partials/post_card', post: post, user: @user %>
      </li>
    <% end %>
  </ul>
  <%= link_to 'See more Posts', user_posts_path(user_id: @user.id) %>
</div>
