<div class="flex flex-col items-center w-full gap-8">
  <%= render 'partials/card', user: @user %> 
  <div class="p-10 border-4 border-solid border-gray-900">
    <h2 class="text-3xl mb-7" > Biography </h2>
    <p class="text-xl"> <%= @user.bio %> </p>
  </div>
  <ul class="flex flex-col w-full gap-8">
    <% @user.recent_posts.each do |post| %>
      <li>
        <%= render 'partials/post_card', post: post, user: @user %>
      </li>
    <% end %>
  </ul>
  <%= link_to 'See more Posts', user_posts_path(user_id: @user.id), class: "px-5 py-2.5 text-2xl bg-sky-800 text-white" %>
</div>
