<div class="posts">
  <%= render 'partials/card', user: @user %>
  <ul class="cards">
    <% @posts.each do |post| %>
      <li>
        <%= render 'partials/post_card', post: post %>
        <div class="card-info">
          <% post.comments.each do |comment| %>
            <p> <%= comment.author.name%>: <%= comment.text%><p>
          <% end %>  
        </div>
      </li>
    <% end %>
  </ul>
</div>
