<div class="flex flex-col gap-8 items-center w-full mt-5">
  <%= render 'partials/card', user: @user %>
  <ul class="flex flex-col gap-8 items-center w-full">
    <% @posts.order(created_at: :desc).each do |post| %>
      <li class="relative flex flex-col">
        <%= render 'partials/post_card', post: post, user: @user %>
        <%= render 'partials/like', post: post, like: @like %>
        <div class="p-10 border-solid border-4 border-sky-700">
          <%= render partial: 'partials/comment', collection: post.recent_comments %>   
        </div>
      </li>
    <% end %>
  </ul>
  <button> Pagination </button>
</div>
