/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html {
  font-size: 10px;
}

body {
  padding: 30px 50px;
}

ul {
  padding: 0;
}

li {
  list-style: none;
  width: 100%;
  display: flex;
  justify-content: center;
}

p {
  margin: 0;
  font-size: 2.5rem;
}

h2 {
  font-size: 4rem;
  margin: 0;
}

h3 {
  font-size: 3rem;
  margin: 0;
  margin-bottom: 20px;
}

button {
  background: transparent;
  border: 1px solid black;
  font-size: 2rem;
  padding: 10px 20px;
}

button:hover {
  cursor: pointer;
}

.cards {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 30px;
  margin-top: 20px;
}

.user {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.bio h2 {
  font-size: 3rem;
  margin-bottom: 20px;
}
